.App {
  text-align: center;


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.app-container {
  display: flex;
}

.main-content {
  margin-left: 250px; /* Match the sidebar width */
  background-color: #f8f9fa;
 /* Optional padding for the main content */
  width: calc(100% - 250px); /* Take the rest of the width minus the sidebar */
  overflow-x: hidden; /* Prevent horizontal scroll */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.header, .body-content {
  max-width: 100%; /* Ensure content doesn't overflow */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
